@keyframes move {
    0%   {top: 0px; left: 0px;;}
    25%  {top: 0px; left: 60%;}
    50%  {top: 60%; left: 100px;}
    75%  {top: 60%; left: 0}
    100% {top: 0px; left: 0px;}
}
@keyframes troll {
    0%   {top: 0px; right: 0px;;}
    25%  {top: 0px; right: 60%;}
    50%  {top: 60%; right: 100px;}
    75%  {top: 60%; right: 0}
    100% {top: 0px; right: 0px;}
}
@keyframes moves {
    0%   {bottom: 0px; left: 0px;;}
    25%  {bottom: 0px; left: 60%;}
    50%  {bottom: 60%; left: 100px;}
    75%  {bottom: 60%; left: 0}
    100% {bottom: 0px; left: 0px;}
}
@keyframes trolls {
    0%   {bottom: 0px; right: 0px;;}
    25%  {bottom: 0px; right: 60%;}
    50%  {bottom: 60%; right: 100px;}
    75%  {bottom: 60%; right: 0}
    100% {bottom: 0px; right: 0px;}
}

@keyframes move-in{
    from{left: -250px;}
    to{left: 0;}
}
@keyframes menu-slider{
    from{left: -250px;}
    to{left: 0;}
}
@keyframes about-me{
    from{top: 50px;}
    to{top: 0;}
}
@keyframes about-me-col-1{
    from{right: 100px;}
    to{right: 0;}
}
@keyframes about-me-col-2{
    from{right: -100px;}
    to{right: 0;}
}